

<h2> Pony Offer number <%= @pony_offer.id %></h2>


<p> Start date: <%= @pony_offer.start_date%></p>
<p> End date: <%= @pony_offer.end_date%></p>
<p> Daily rate: <%= @pony_offer.daily_rate%></p>

<ul>

<li><%= @pony_offer.pony.name %></li>
<li><%= @pony_offer.pony.location %></li>
<li><%= @pony_offer.pony.color %></li>
<li><%= @pony_offer.pony.age %></li>

</ul>

<h3>Description</h3>
<p><%= @pony_offer.pony.description %></p>

<!-- Checks if the current user is the owner of the listed pony if now, we will see a button for bookings -->
<% if @pony_offer.pony.is_owner?(current_user)  %>
  <%= link_to 'delete offer',  pony_offer_path(@pony_offer), method: 'delete' %>
  <br>
  <%= link_to 'Back to my listing',  pony_offers_path %>
<% else %>
<!-- TEMPORARY -->

<% @booking = Booking.new  %>
<%= render "offer_booking_form", booking: @booking %>

<% end %>
