
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2> Pony Offer number <%= @pony_offer.id %></h2>
        <p> Start date: <%= @pony_offer.start_date%></p>
        <p> End date: <%= @pony_offer.end_date%></p>
        <p> Daily rate: <%= @pony_offer.daily_rate%></p>

        <% %w(name color age race description location). each do |method|  %>
          <% value = @pony_offer.pony[method.to_sym]  %>
          <% unless value.nil? || value.strip == "" %>
            <p> <strong><%= method.capitalize %></strong> - <%= value %> </p>
          <% end %>
        <% end %>

        <h3>Description</h3>
        <p><%= @pony_offer.pony.description %></p>

        <!-- Checks if the current user is the owner of the listed pony if now, we will see a button for bookings -->
        <% if @pony_offer.pony.is_owner?(current_user)  %>
          <%= link_to 'delete offer',  pony_offer_path(@pony_offer), method: 'delete' %>
          <br>
          <%= link_to 'Back to my listing',  pony_offers_path %>
        <% else %>
          <br>
          <% @booking = Booking.new %>
          <%= render "offer_booking_form", booking: @booking  %>
        <% end %>
    </div>
    <div class="col-xs-6">
      <div id="map" style="width: 100%; height: 400px; margin: 20px;"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    /* PART FOR GOOGLE MAPS */
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(8);
        }
      });
    });



    /* PART FOR DISABLING DATEPICKER DAYS */
    var disabledDays = <%= raw @to_disable_dates %>;

    /* utility functions */
    function unavailableDays(date) {
      var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
      for (i = 0; i < disabledDays.length; i++) {
        if($.inArray((m+1) + '-' + d + '-' + y,disabledDays) != -1 || new Date() > date) {
          return [false];
        }
      }
      return [true];
    }


    /* create datepicker for start date and end date */
    <% max_date = @pony_offer.end_date.strftime('%-m-%-d-%Y')  %>
    <% min_date = Date.today.strftime('%-m-%-d-%Y')  %>


      $('#datepicker_end_date').datepicker({
        dateFormat: 'dd/mm/yy',
        constrainInput: true,
        beforeShowDay: unavailableDays,
        maxDate: new Date(<%= raw [max_date] %>),
        minDate: new Date(<%= raw [min_date] %>)
      });

      $('#datepicker_start_date').datepicker({
        dateFormat: 'dd/mm/yy',
        constrainInput: true,
        beforeShowDay: unavailableDays,
        maxDate: new Date(<%= raw [max_date] %>),
        minDate: new Date(<%= raw [min_date] %>),
        onClose: function(selectedDate) {
          $("#datepicker_end_date").datepicker("option", "minDate", selectedDate );
          $("#datepicker_end_date").focus();
        }
      });
  <% end %>
<% end %>
