<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2> Pony Offer number <%= @pony_offer.id %></h2>
        <p> Start date: <%= @pony_offer.start_date%></p>
        <p> End date: <%= @pony_offer.end_date%></p>
        <p> Daily rate: <%= @pony_offer.daily_rate%></p>

        <% %w(name color age race description location). each do |method|  %>
          <% value = @pony_offer.pony[method.to_sym]  %>
          <% unless value.nil? || value.strip == "" %>
            <p> <strong><%= method.capitalize %></strong> - <%= value %> </p>
          <% end %>
        <% end %>

        <h3>Description</h3>
        <p><%= @pony_offer.pony.description %></p>

        <!-- Checks if the current user is the owner of the listed pony if now, we will see a button for bookings -->
        <% if @pony_offer.pony.is_owner?(current_user)  %>
          <%= link_to 'delete offer',  pony_offer_path(@pony_offer), method: 'delete' %>
          <br>
          <%= link_to 'Back to my listing',  pony_offers_path %>
        <% else %>
        <!-- TEMPORARY -->
          <%= link_to "Book this pony!", root_path, class:"btn btn-brand" %>
        <% end %>
    </div>
    <div class="col-xs-6">
      <div id="map" style="width: 100%; height: 400px; margin: 20px;"></div>
    </div>
  </div>
</div>








<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(8);
        }
      });
    });
  <% end %>
<% end %>
