<h1>My Bookings</h1>

<% @bookings.each do |booking| %>
  <p> Pony booking: <%= booking.id %> - Pony: <%= booking.pony_offer.pony.name %> - From <%= booking.start_date  %> to <%= booking.end_date  %> - Renter: <%= booking.user.first_name  %></p>
<% end %>
