<h1>Confirm your booking</h1>

<% if @error %>
  <h3 style="color:red;"> UNAVAILABLE DUDE </h3>
<% else %>
  <h3>The total price of your booking is <%= @price  %> euros</h3>
  <%= render 'booking_form', booking: @booking %>
<% end %>

<%= link_to 'Back', pony_path(@pony) %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    /* PART FOR DISABLING DATEPICKER DAYS */
    var disabledDays = <%= raw @to_disable_dates %>;

    /* utility functions */
    function unavailableDays(date) {
      var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
      for (i = 0; i < disabledDays.length; i++) {
        if($.inArray((m+1) + '-' + d + '-' + y,disabledDays) != -1 || new Date() > date) {
          return [false];
        }
      }
      return [true];
    }


    /* create datepicker for start date and end date */
    <% max_date = @pony_offer.end_date.strftime('%-m-%-d-%Y')  %>

      $('#datepicker_end_date').datepicker({
        dateFormat: 'dd/mm/yy',
        constrainInput: true,
        beforeShowDay: unavailableDays,
        maxDate: new Date(<%= raw [max_date] %>)
      });

      $('#datepicker_start_date').datepicker({
        dateFormat: 'dd/mm/yy',
        constrainInput: true,
        beforeShowDay: unavailableDays,
        maxDate: new Date(<%= raw [max_date] %>),
        onClose: function(selectedDate) {
          $("#datepicker_end_date").datepicker("option", "minDate", selectedDate );
          $("#datepicker_end_date").focus();
        }
      });
  <% end %>
<% end %>
